
__pycache__/
_docs/
_proc/
.DS_Store
.gitattributes
.gitconfig
.idea
.idea
.ipynb_checkpoints
.luarc.json
.ruff_cache/
.venv
.vscode
*.csv
*.egg-info
*.gif
*.icloud
*.parquet
build
data
dist
docs/_site
Gemfile.lock
Gemfile*
mlruns/
nbs/.last_checked
nbs/data
tmp