arch==4.11
-e git+https://github.com/raphaelvallat/entropy.git@c25553f8b9f8529eb456b93c5dec53c86c779a01#egg=entropy
ESRNN==0.1.2
more-itertools==6.0.0
pandas==0.25.2
rstl==0.1.3
sklearn==0.0
statsmodels==0.11.1
stldecompose==0.0.5
supersmoother==0.4
numpy==1.16.1
git+https://github.com/jakevdp/supsmu
